<h1>Show a particular post</h1>

<div class= "user-details gap" >
            <div class="post">
                <div>
                    <h4> Post #<%= @post.id %> <%= @post.title %> by <%= @user.name %> </h4>
                    <%= @post.text%>
                    <h6>Comments:<%= @post.comments_counter %>, Likes:<%= @post.likes_counter %> </h6>
                </div>

                <div>
                    <%= form_with model: @like, url:  user_post_likes_path(@user, @post) do |form|%>
                        <%= form.submit 'Like post', class: 'submit' %>
                    <%end%>
                    <% if can? :manage, @post %>
                         <%= button_to "Delete Post", user_post_path, method: :delete, class: "btn btn-outline-secondary" %>
                    <% end %>
                </div>

                <div class="post-comments">
                    <h4> Comments </h4>
                    <% @post.comments.each do |comment| %>
                        <p>
                            <strong><%= comment.author.name %>:</strong>
                            <span><%= comment.text %></span>
                        </p>
                        <% if can? :manage, comment %>
                          <%= button_to "Delete Comment", user_post_comment_path(@user, @post, comment), method: :delete, class: "btn btn-outline-secondary" %>
                        <% end %>
                    <%end%>
                </div>
            </div>  

            <button class="see-all-post d-flex border">
                <%= link_to "Create new comment", new_user_post_comment_path(@user, @post) %>
            </button>

</div>